/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e5f85;
  --ifm-color-primary-dark: #295578;
  --ifm-color-primary-darker: #275171;
  --ifm-color-primary-darkest: #20425d;
  --ifm-color-primary-light: #336892;
  --ifm-color-primary-lighter: #356d99;
  --ifm-color-primary-lightest: #3c7bad;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25a7c1;
  --ifm-color-primary-dark: #2196ae;
  --ifm-color-primary-darker: #1f8ea4;
  --ifm-color-primary-darkest: #1a7587;
  --ifm-color-primary-light: #29b8d4;
  --ifm-color-primary-lighter: #31bcd8;
  --ifm-color-primary-lightest: #4ec5dd;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}